<div class="jumbotron">
 
    <div class="jumbotron">
        <h1>Administración Hotelera</h1>
        <img src="~/imA/imaHoteles.jpg" alt="Ppal" width="294" height="292" style='float:right'>
    </div>


</div>
<
